.content {
  flex-wrap: wrap;
  justify-content: center;
  display: flex;
  margin: auto 32px;
  padding: 0 16px;
  max-width: 960px;
  flex-direction: column;
  align-items: center;
}

table {
  width: 100%;
}

.form-group {
  height: 70px;
  width: 300px;
}


.badge1 {
  margin: 2px;
  margin-left: 26%;
  height: 30px;
  width: 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease-in-out;
}

.badge1:not(.highlight-card):hover {
  transform: translateY(-3px);
  box-shadow: 0 4px 24px rgba(0, 0, 0, 0.35);
  background-color: transparent;
}

.badge1:not(.highlight-card):hover .material-icons path {
  fill: rgb(0, 0, 0);
}
