<div class="content" role="main">
  <nav>
    <div class="card-container">
      <a class="card" rel="noopener" routerLink="/add">
        <svg class="material-icons" width="24" height="24" viewBox="0 0 24 24">
          <path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z" fill="#88DD9F" />
        </svg>
        <span>New tractor</span>
        <svg class="material-icons" width="24" height="24" viewBox="0 0 24 24">
          <path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z" />
        </svg>
      </a>

      <a class="card" rel="noopener" routerLink="/tractors">
        <svg class="material-icons" width="24" height="24" viewBox="0 0 24 24">
          <path d="M21,6H3V5h18V6z M21,11H3v1h18V11z M21,17H3v1h18V17z" />
        </svg>
        <span>List tractor</span>
        <svg class="material-icons" width="24" height="24" viewBox="0 0 24 24">
          <path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z" />
        </svg>
      </a>
    </div>
  </nav>

</div>
